<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的登录页面</title>
</head>
<body>
    <h1>我的登录中心</h1>
    <form action="/userLogin" method="get">
        <table>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="username" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="password" value="admin">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="登录">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>